html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 200vh;
  background-color: #161616;
}

.circular-text {
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s ease-out;
}
