* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.typing {
  width: 23em;
  white-space: nowrap;
  border-right: 2px solid transparent;
  animation: typing 3.5s steps(23, end), blink-caret 0.75s step-end infinite;
  overflow: hidden;
  color: #fff;
  font-size: 36px;
}
/* 打印效果 */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 23em;
  }
}
/* 光标闪 */
@keyframes blink-caret {
  from,
  to {
    box-shadow: 1px 0 0 0 transparent;
  }
  50% {
    box-shadow: 1px 0 0 0;
  }
}
